.vs/tugasbesar1/v17/.suo
.vs/tugasbesar1/v17/DocumentLayout.json
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/tugasbesar1.vbproj.AssemblyReference.cache